<div class="container-fluid " style="background-color: #f5f5f5">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2">
      <!--Main Navigation-->
      <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Webiste traffic</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-lock fa-fw me-3"></i><span>Password</span></a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-globe fa-fw me-3"></i><span>International</span></a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-building fa-fw me-3"></i><span>Partners</span></a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a>
            </div>
          </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <!-- Container wrapper -->
          <div class="container-fluid">
            <!-- Toggle button -->
            <button data-mdb-button-init class="navbar-toggler" type="button" data-mdb-collapse-init
              data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">
              <h1>BrainBoost</h1>
            </a>
            <!-- Search form -->
            <form class="d-none d-md-flex input-group w-auto my-auto">
              <input autocomplete="off" type="search" class="form-control rounded"
                placeholder='Search (ctrl + "/" to focus)' style="min-width: 225px;" />
              <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
            </form>

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
              <!-- Notification dropdown -->
              <li class="nav-item dropdown">
                <a data-mdb-dropdown-init class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#"
                  id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-bell"></i>
                  <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#">Some news</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Another news</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>

              <!-- Icon -->
              <li class="nav-item">
                <a class="nav-link me-3 me-lg-0" href="#">
                  <i class="fas fa-fill-drip"></i>
                </a>
              </li>
              <!-- Icon -->
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>

              <!-- Icon dropdown -->
              <li class="nav-item dropdown">
                <a data-mdb-dropdown-init class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#"
                  id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <i class="united kingdom flag m-0"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#"><i class="united kingdom flag"></i>English
                      <i class="fa fa-check text-success ms-2"></i></a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
                  </li>
                </ul>
              </li>

              <!-- Avatar -->
              <li class="nav-item dropdown">
                <a data-mdb-dropdown-init class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                  href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                    height="22" alt="Avatar" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#">My profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Settings</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
      </header>
      <!--Main Navigation-->


      <!--Main layout-->
    </div>
    <!-- Sidebar End -->

    <!-- Dashboard content -->
    <div class="col-md-10 " style="margin-top: 100px;">


      <!-- Main Content -->
      <div class="">
        <!-- common analysis  -->
        <div class="container ">
          <div class="row ">
            <div class="col-lg-4 col-md-6 col-12 mb-4 ">
              <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
                <div class="card-body">
                  <div class="icon-wrapper bullseye">
                    <i class="fa-solid fa-bullseye fa-2xl fs-1"></i>
                  </div>
                  <h1 class="mt-2">120</h1>
                  <p class="card-text mt-3 text-dark">Enrolled Courses</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-4">
              <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
                <div class="card-body">
                  <div class="icon-wrapper book">
                    <i class="fa-solid fa-book-open fa-2xl fs-1"></i>
                  </div>
                  <h1 class="mt-2">17</h1>
                  <p class="card-text mt-3 text-dark">Active Courses</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-4">
              <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
                <div class="card-body">
                  <div class="icon-wrapper check">
                    <i class="fa-solid fa-check fa-2xl fs-1"></i>
                  </div>
                  <h1 class="mt-2">64</h1>
                  <p class="card-text mt-3 text-dark">Completed Courses</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-12 mb-4">
              <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
                <div class="card-body">
                  <div class="icon-wrapper people">
                    <i class="fa-solid fa-people-group fa-2xl fs-1"></i>
                  </div>
                  <h1 class="mt-2">1.5M</h1>
                  <p class="card-text mt-3 text-dark">Total Students</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-4">
              <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
                <div class="card-body">
                  <div class="icon-wrapper light">
                    <i class="fa-regular fa-lightbulb fa-2xl fs-1"></i>
                  </div>
                  <h1 class="mt-2">300</h1>
                  <p class="card-text mt-3 text-dark">Expert Mentors</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of common analysis -->






      </div>


      <!-- top instructors  -->

      <div class=" mt-5 shadow-lg rounded-3 bg-white p-3">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-4 p-2">Top Instructors</h2>
          </div>
          <!-- First Instructor -->
          <div class="col-md-6">
            <div class="instructor-card d-flex align-items-center shadow-lg rounded-3 border-0">
              <img
                src="https://img.freepik.com/free-photo/young-beautiful-woman-looking-camera-trendy-girl-casual-summer-white-t-shirt-jeans-shorts-positive-female-shows-facial-emotions-funny-model-isolated-yellow_158538-15796.jpg?t=st=1718342833~exp=1718346433~hmac=bc2faebfe38957f6bf91be2626ecaa84199f49ab7fe30adaa7a8c8ea27d8943b&w=740"
                alt="Instructor 1" class="instructor-img me-3">
              <div class="instructor-info">
                <h5 class="mb-1">John Doe</h5>
                <p class="mb-0 text-muted">johndoe</p>
              </div>
              <div class="ms-auto rounded-pill follow p-1">
                <i class="fa-solid fa-plus fa-2xl follow-icon"></i>
              </div>
            </div>
          </div>
          <!-- Second Instructor -->
          <div class="col-md-6">
            <div class="instructor-card d-flex align-items-center shadow-lg rounded-3 border-0">
              <img
                src="https://img.freepik.com/free-photo/young-beautiful-woman-looking-camera-trendy-girl-casual-summer-white-t-shirt-jeans-shorts-positive-female-shows-facial-emotions-funny-model-isolated-yellow_158538-15796.jpg?t=st=1718342833~exp=1718346433~hmac=bc2faebfe38957f6bf91be2626ecaa84199f49ab7fe30adaa7a8c8ea27d8943b&w=740"
                alt="Instructor 2" class="instructor-img me-3">
              <div class="instructor-info">
                <h5 class="mb-1">Jane Smith</h5>
                <p class="mb-0 text-muted">janesmith</p>
              </div>
              <div class="ms-auto rounded-pill follow p-1">
                <i class="fa-solid fa-plus fa-2xl follow-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of top instructors section -->



      <!-- current courses  -->
      <div class="container mt-5 shadow-lg rounded-3 bg-white p-3">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-4">Current Courses</h2>
          </div>
          <div class="col-md-4">
            <div class="course-card  rounded-3 shadow-lg">
              <div class="course-header">
                <div>
                  <h4>C++</h4>
                  <div class="course-category">IT & Software</div>
                </div>
                <div class="course-icon">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" alt="C++">
                </div>
              </div>
              <div class="course-footer">
                <div class="course-score">4.5 Score</div>
                <div class="course-days">37 Days Left</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="course-card  rounded-3 shadow-lg">
              <div class="course-header">
                <div>
                  <h4>JavaScript</h4>
                  <div class="course-category">Language</div>
                </div>
                <div class="course-icon">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JavaScript">
                </div>
              </div>
              <div class="course-footer">
                <div class="course-score">3.5 Score</div>
                <div class="course-days">25 Days Left</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="course-card  rounded-3 shadow-lg">
              <div class="course-header">
                <div>
                  <h4>Haskell</h4>
                  <div class="course-category">Backend</div>
                </div>
                <div class="course-icon">
                  <img src="https://cdn.worldvectorlogo.com/logos/c--4.svg" alt="Haskell">
                </div>
              </div>
              <div class="course-footer">
                <div class="course-score">2.5 Score</div>
                <div class="course-days">15 Days Left</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end of current courses  -->




      <!-- Top students section -->

      <div class="container mt-5 shadow-lg rounded-3 bg-white">
        <div class="top-students-section border-0">
          <h2 class="mb-4">Top Students</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="student-card rounded-3 shadow-lg">
                <img
                  src="https://img.freepik.com/free-photo/happy-young-female-student-holding-notebooks-from-courses-smiling-camera-standing-spring-clothes-against-blue-background_1258-70161.jpg"
                  alt="Andrew Burns">
                <div class="student-info">
                  <h5>Andrew Burns</h5>
                  <p>programming</p>
                </div>
              </div>
              <div class="student-card rounded-3 shadow-lg">
                <img
                  src="https://img.freepik.com/free-photo/happy-young-female-student-holding-notebooks-from-courses-smiling-camera-standing-spring-clothes-against-blue-background_1258-70161.jpg"
                  alt="Andrew Burns">
                <div class="student-info">
                  <h5>Tammy Sanch</h5>
                  <p>programming</p>
                </div>
              </div>
              <div class="student-card rounded-3 shadow-lg">
                <img
                  src="https://img.freepik.com/free-photo/happy-young-female-student-holding-notebooks-from-courses-smiling-camera-standing-spring-clothes-against-blue-background_1258-70161.jpg"
                  alt="Andrew Burns">
                <div class="student-info">
                  <h5>Dana Carey</h5>
                  <p>physics</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="student-card rounded-3 shadow-lg">
                <img
                  src="https://img.freepik.com/free-photo/happy-young-female-student-holding-notebooks-from-courses-smiling-camera-standing-spring-clothes-against-blue-background_1258-70161.jpg"
                  alt="Andrew Burns">
                <div class="student-info">
                  <h5>Richard Payne</h5>
                  <p>physics</p>
                </div>
              </div>
              <div class="student-card rounded-3 shadow-lg">
                <img
                  src="https://img.freepik.com/free-photo/happy-young-female-student-holding-notebooks-from-courses-smiling-camera-standing-spring-clothes-against-blue-background_1258-70161.jpg"
                  alt="Andrew Burns">
                <div class="student-info">
                  <h5>Jennifer Sum</h5>
                  <p>physics</p>
                </div>
              </div>
              <div class="student-card rounded-3 shadow-lg">
                <img
                  src="https://img.freepik.com/free-photo/happy-young-female-student-holding-notebooks-from-courses-smiling-camera-standing-spring-clothes-against-blue-background_1258-70161.jpg"
                  alt="Andrew Burns">
                <div class="student-info">
                  <h5>Jordan Enson</h5>
                  <p>programming</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- end of top students section  -->
    </div>
  </div>