<nav class="navbar navbar-expand-lg navbar-light fixed-top new">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BrainBoost</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars fa-xl navtogle" ></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" href="#">Contact</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Plans
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink='/Pricing'>Pricing</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item me-5 col-5 ml-2">
                    <div class="bg-light rounded rounded-pill shadow-sm w-100">
                        <div class="input-group ">
                            <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1"
                                class="form-control rounded-pill bg-light search">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!isLogin">
                    <a class="nav-link" routerLink="login" routerLinkActive="active">Login/Register</a>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                    <a class="nav-link"  (click)="logout();">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>