<!-- Main Content -->
<div class="">
    <!-- common analysis  -->
    <div class="container ">
      <div class="row ">
        <div class="col-lg-4 col-md-6 col-12 mb-4 ">
          <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
            <div class="card-body">
              <div class="icon-wrapper bullseye">
                <i class="fa-solid fa-bullseye fa-2xl fs-1"></i>
              </div>
              <h1 class="mt-2">{{TotalInstructorEarning}}</h1>
              <p class="card-text mt-3 text-dark">TotalInstructorEarning</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
            <div class="card-body">
              <div class="icon-wrapper book">
                <i class="fa-solid fa-book-open fa-2xl fs-1"></i>
              </div>
              <h1 class="mt-2">{{TotalWebsiteEarning}}</h1>
              <p class="card-text mt-3 text-dark">TotalWebsiteEarning</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
            <div class="card-body">
              <div class="icon-wrapper book">
                <i class="fa-solid fa-book-open fa-2xl fs-1"></i>
              </div>
              <h1 class="mt-2">{{TotalEarning}}</h1>
              <p class="card-text mt-3 text-dark">TotalEarning</p>
            </div>
          </div>
        </div>
        

  </div>
