<!-- Main Content -->
<div class="">
    <!-- common analysis  -->
    <div class="container ">
      <div class="row ">
        <div class="col-lg-4 col-md-6 col-12 mb-4 ">
          <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
            <div class="card-body">
              <div class="icon-wrapper bullseye">
                <i class="fa-solid fa-bullseye fa-2xl fs-1"></i>
              </div>
              <h1 class="mt-2">{{TotalInstructorEarning}}</h1>
              <p class="card-text mt-3 text-dark">TotalInstructorEarning</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
            <div class="card-body">
              <div class="icon-wrapper book">
                <i class="fa-solid fa-book-open fa-2xl fs-1"></i>
              </div>
              <h1 class="mt-2">{{TotalWebsiteEarning}}</h1>
              <p class="card-text mt-3 text-dark">TotalWebsiteEarning</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <div class="card text-center pt-3 rounded-4 border-0 shadow-lg">
            <div class="card-body">
              <div class="icon-wrapper book">
                <i class="fa-solid fa-book-open fa-2xl fs-1"></i>
              </div>
              <h1 class="mt-2">{{TotalEarning}}</h1>
              <p class="card-text mt-3 text-dark">TotalEarning</p>
            </div>
          </div>
        </div>




        <!-- TopEarningCourses   -->
      <div class="container mt-5 shadow-lg rounded-3 bg-white p-3">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-4">Top Earning Courses</h2>
          </div>
          <div class="col-md-4" *ngFor="let Course of TopEarningCourses">
            <div class="course-card  rounded-3 shadow-lg">
              <div class="course-header">
                <div>
                  <h4>{{Course.name}}</h4>
                  <div class="course-category">{{Course.description}}</div>
                </div>
                <div class="course-icon">
                  <img [src]="Course.photoUrl" alt="C++">
                </div>
              </div>
              <div class="course-footer">
                <div class="course-score">{{Course.rate}}</div>
                <p>Total Earning : {{Course.totalEarnings}}</p>
                <p>Website Earning : {{Course.totalWebsiteEarnings}}</p>
                <p>Instructor Earning : {{Course.totalInstructorEarnings}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end of TopEarningCourses  -->





        <div class="container mt-5">
          <h2 class="mb-4">Earning Table</h2>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Instructor Name</th>
                <th scope="col">Instructor Earning</th>
                <th scope="col">Website Earning</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Teacher of TeacherWithHisEarning">
                <td>{{ Teacher.fname }} {{Teacher.lname}}</td>
                <td>{{ Teacher.totalInstructorEarnings }}</td>
                <td>{{ Teacher.totalWebsiteEarnings }}</td>
                <td><button type="button" class="btn btn-secondary" (click)="GoToTeacheEarningDetails(Teacher.id)">Details</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        
      
  </div>
