<div class="teacher-card p-3 border-0">
  <div class="teacher-details">
    <h2>{{ teacherInfo["fname"] }} {{ teacherInfo["lname"] }}</h2>
    <h3>{{ teacherInfo["career"] }}</h3>
    <h3>years of experience : {{ teacherInfo["yearsOfExperience"] }}</h3>
    <h3>phone number : {{ teacherInfo["phoneNumber"] }}</h3>
    <h3>description :</h3>
    <p>{{ teacherInfo["aboutYou"] }}</p>
  </div>
  <img
    [src]="
      teacherInfo['pictureUrl'] != null
        ? teacherInfo['pictureUrl']
        : 'https://icons.veryicon.com/png/o/business/educational-administration-related/teacher-11.png'
    "
    alt="Teacher Image"
    class="teacher-img rounded-3 shadow-lg border"
/>
</div>